/** @format */

@import url('https://fonts.googleapis.com/css?family=Quicksand:700');

* {
	user-select: none;
}

body {
	background: #701090;
	font-family: Quicksand;
	color: #3c4c4f;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#i {
	position: fixed;
	left: 1pc;
	top: 1pc;
	font-size: calc(2vw + 2vh);
	text-shadow: 0px 0.2pc 0px #334143;
	z-index: 2;
	margin: 0;
}
#level {
	position: fixed;
	right: 1pc;
	top: 1pc;
	font-size: calc(2vw + 2vh);
	text-shadow: 0px 0.2pc 0px #334143;
	z-index: 2;
	margin: 0;
}

#enjoy {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	white-space: nowrap;
	font-size: calc(2vw + 2vh);
	text-shadow: 0px 0.2pc 0px #334143;
	z-index: 2;
}
#wow {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	white-space: nowrap;
	font-size: calc(2vw + 2vh);
	text-shadow: 0px 0.2pc 0px #334143;
	z-index: 2;
}
#img {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	white-space: nowrap;
	font-size: calc(2vw + 2vh);
	text-shadow: 0px 0.2pc 0px #334143;
	z-index: 2;
}

#name {
	background: #ff7b73;
	color: white;
	padding: 20px 30px;
	box-shadow: 0px 9px 15px 0 rgba(0, 0, 0, 0.2);
	border: none;
	border-radius: 10rem;
	border: 1px solid transparent;
	transition: 0.3s;
	width: 65vw;
	max-width: 750px;
}

form {
	display: flex;
	flex-direction: row;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
#urltoshorten:focus {
	border: 1px solid rgba(248, 164, 126, 0.5);
}

input {
	border: none;
}

input:focus {
	/* removing the input focus blue box. Put this on the form if you like. */
	outline: none;
}

button {
	background: transparent;
	color: white;
	border: none;
	transform: scale(0.9);
	margin-left: -92px;
	cursor: pointer;
	width: 7em;
	border-radius: 10rem;
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.center {
	display: flex;
	justify-content: center; /* center horizontally */
	align-items: center; /* center vertically */
}

#vanityflex {
	display: flex;
	flex-direction: row;
	text-align: center;
}

#vanity {
	background: #ff7b73;
	color: white;
	padding: 20px 30px;
	box-shadow: 0px 9px 15px 0 rgba(0, 0, 0, 0.2);
	border: none;
	margin-left: 1vw;
	height: 1em;
	border-radius: 10rem;
	border: 1px solid transparent;
	transition: 0.3s;
}

#vanity:focus {
	border: 1px solid rgba(248, 164, 126, 0.5);
}
input::-webkit-input-placeholder {
	/* Chrome/Opera/Safari/Edge */
	color: white;
}

input::-ms-input-placeholder {
	/* Microsoft Edge */
	color: white;
}

input:-ms-input-placeholder {
	/* IE 10+ */
	color: white;
}

input::-moz-placeholder {
	/* Firefox 19+ */
	opacity: 1; /*Firefox by default has an opacity object that usually is ideal to reset so it matches webkit*/
	color: white;
}

input:-moz-placeholder {
	/* Firefox 18- */
	opacity: 1; /*Firefox by default has an opacity object that usually is ideal to reset so it matches webkit*/
	color: white;
}

input::placeholder {
	color: white;
}
.platform {
	position: absolute;
	border-radius: 1pc;
	box-shadow: 0px 0.3dwpc 0px #334143;
	background-color: #3ca370;
}

.spike {
	position: absolute;
	background: url('https://raw.githubusercontent.com/Jeve-Stobs/myCDN/main/spike.svg');
}

.friend,
.player {
	position: absolute;
	width: 3pc;
	height: 3pc;
	background: #b8d8d8;
	border-radius: 0.25pc;
	text-align: center;
	overflow: hidden;
	vertical-align: middle;
	line-height: 2.6pc;
	font-size: 2em;
	font-weight: bolder;
}

.player {
	background: #eef5db;
}

.grave {
	position: absolute;
	background: #334143;
	width: 4pc;
	height: 3pc;
	border-bottom: none;
	border-top-left-radius: 1pc;
	border-bottom-left-radius: 1pc;
	text-align: center;
	overflow: hidden;
	vertical-align: middle;
	line-height: 2.5pc;
	font-size: 2em;
	transform: rotate(90deg);
	z-index: -1;
}

.goal {
	background: repeating-linear-gradient(
		45deg,
		#eef5db,
		#eef5db 1pc,
		#d2d8c0 1pc,
		#d2d8c0 2pc
	);
}
