@import url('https://fonts.googleapis.com/css?family=Quicksand:700');

* {
	user-select: none;
}

body {
	background: #701090;
	font-family: Quicksand;
	color: #3C4C4F;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#i {
	position: fixed;
	left: 1pc;
	top: 1pc;
	font-size: calc(2vw + 2vh);
	text-shadow: 0px .2pc 0px #334143;
	z-index: 2;
	margin: 0;
}

.platform {
	background: url("https://openprocessing-usercontent.s3.amazonaws.com/files/user194420/visual1202983/h1667bb68a9c9f2ff9cfc4a63a153be4a/grass.png");
}

.spike {
	position: absolute;
	background: url("https://dl.dropboxusercontent.com/s/xfq2lph3bt5sxf1/spike.svg");
}

.friend, .player {
	position: absolute;
	width: 3pc;
	height: 3pc;
	background: #B8D8D8;
	border-radius: .25pc;
	text-align: center;
	overflow: hidden;
	vertical-align: middle;
	line-height: 2.6pc;
	font-size: 2em;
	font-weight: bolder;
}

.player {
	background: #EEF5DB;
}

.grave {
	position: absolute;
	background: #334143;
	width: 4pc;
	height: 3pc;
	border-bottom: none;
	border-top-left-radius: 1pc;
	border-bottom-left-radius: 1pc;
	text-align: center;
	overflow: hidden;
	vertical-align: middle;
	line-height: 2.5pc;
	font-size: 2em;
	transform: rotate(90deg);
	z-index: -1;
}

.goal {
	background: repeating-linear-gradient(
		45deg,
		#EEF5DB,
		#EEF5DB 1pc,
		#D2D8C0 1pc,
		#D2D8C0 2pc
	);
}
